body{
    background-image: url(spacex.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;



}

h1{
color: black;
border-top-style: dotted;
border-bottom-style: dotted;
border-left-style: double;
border-right-style: double;
border-left-width: 10px;
border-right-width: 10px;
border-left-color: silver;



background: linear-gradient(to right, skyblue, white);
background-repeat: no-repeat;
background-attachment: fixed;


text-shadow: 0px 0px 7px orangered, 0px -5px 5px white;
}

h1:hover{
box-shadow: 5px 5px 5px black;






}




p{
/*color: black;
background: linear-gradient(to right, skyblue, white);
background-repeat: no-repeat;
background-attachment: fixed;



font-family: "press start 2P","consolas", "san-serif";
font-style: italic;
font-weight: 200;
text-decoration: cyan dotted underline;
font-size: 18px;

border-style: inset;
border-width: 5px;
border-color: gold;
border-radius: 10px;
padding: 5px; */

}
#p1{
    background-color: red;
}

.even{
    color: blue;
}

#box12{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: turquoise;


    /*margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;*/
    
    
    margin: 50px;
}
#box22{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: teal;

    margin: 50px;


}

img{
    float: right;
}


#box1{

    font-size: 150px;
    text-align: center;
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: orange;
    
    
    position: sticky;
    bottom: 0px;
    top: 0px;
    
    animation: mycolorchange;
    animation-play-state: running;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    
}
@keyframes myslide{
    from{margin-left: 100%;}
    to{margin-left: 0px;}
}

@keyframes myrotate{
    100%{transform: rotateZ(180deg)}
}
@keyframes myopacity{
    50%{opacity: 0;}
}

@keyframes myscale{
    50%{transform: scale(0.5, 0.5);}
}

@keyframes mycolorchange{
    0%{background-color: red;}
    20%{background-color: orange;}
    40%{background-color: yellow;}
    100%{background-color: green;}
}   
#box2{

    font-size: 95px;
    text-align: center;

    transform: translateX(50px);
    transform: translateY(50px);
    transform: translate(50px, 50px);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotateZ(180deg);
    transform: scaleX(3);
    transform: scaleY(3);
    transform: scale(2, 2);
    transform: skewX(45deg);
    transform: skewY(45deg);


   /* transform: matrix(1, 0, 0, 1, 0, 0);

    matrix combines
    scalex()
    skewY()
    skewX()
    scaleY()
    translateX()
    trsanslateY()*/





    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: orangered;

    position: relative;

    top: 100px;
    left: 100px;
}

a:link{
    color: green;
}
a:visited{
    color: grey;
}
a:hover{
    color: tomato;
}
a:active{
    color: yellow;
}
button:hover{
    background-color: lightgrey;
}
button:active{
    background-color: white;
}

li:nth-child(5){
    background-color: yellow;
}
li:nth-child(even){
    background-color: green;
}
li:nth-child(1){
        background-color: yellow;
    }


    .fa-twitter{
        color: grey;
    }

    .fa-house-user{
        color: darkgrey;
    }