body{
    background-image: url(spacex.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;



}

h1{
color: black;
border-top-style: dotted;
border-bottom-style: dotted;
border-left-style: double;
border-right-style: double;
border-left-width: 10px;
border-right-width: 10px;
border-left-color: silver;



background: linear-gradient(to right, skyblue, white);
background-repeat: no-repeat;
background-attachment: fixed;
}




p{
color: black;
background: linear-gradient(to right, skyblue, white);
background-repeat: no-repeat;
background-attachment: fixed;



font-family: "press start 2P","consolas", "san-serif";
font-style: italic;
font-weight: 200;
/*text-decoration: cyan dotted underline;*/
font-size: 18px;

border-style: inset;
border-width: 5px;
border-color: gold;
border-radius: 10px;
padding: 5px;

}
#p1{
    background-color: red;
}

.even{
    color: blue;
}