body{
    background-image: url(spacex.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;



}

h1{
color: black;
border-top-style: dotted;
border-bottom-style: dotted;
border-left-style: double;
border-right-style: double;
border-left-width: 10px;
border-right-width: 10px;
border-left-color: silver;



background: linear-gradient(to right, skyblue, white);
background-repeat: no-repeat;
background-attachment: fixed;
}




p{
/*color: black;
background: linear-gradient(to right, skyblue, white);
background-repeat: no-repeat;
background-attachment: fixed;



font-family: "press start 2P","consolas", "san-serif";
font-style: italic;
font-weight: 200;
text-decoration: cyan dotted underline;
font-size: 18px;

border-style: inset;
border-width: 5px;
border-color: gold;
border-radius: 10px;
padding: 5px; */

}
#p1{
    background-color: red;
}

.even{
    color: blue;
}

#box12{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: turquoise;


    /*margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;*/
    
    
    margin: 50px;
}
#box22{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: teal;

    margin: 50px;


}

img{
    float: right;
}


#box1{

    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: orange;
    
    
    position: sticky;
    bottom: 0px;
    top: 0px;
    

    
}
#box2{

    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: orangered;

    position: relative;

    top: 100px;
    left: 100px;
}